<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/essential.css">
    <link rel="stylesheet" href="/css/contactus.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <title>ผลิตภัณฑ์ของไทยชลธารพลาส</title>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <%- include('../partials/cover.ejs', {link: '/images/product/cover.jpg'}) %>
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-9">
                <h1 style="text-align: center">
                    ผลิตภัณฑ์ของไทยชลธารพลาส
                </h1>
                <!--<div class="col-md">
                    <img class="img-responsive img-article-bottom" src="/images/product/injection.jpg" alt="">
                    <div style="text-align: center">งานฉีด (Injection)</div>
                </div>
                <div class="col-md">
                    <img class="img-responsive img-article-bottom" src="/images/product/extrusion.jpg" alt="">
                    <div style="text-align: center">งานรีด (Extrusion)</div>
                </div>-->
                <% for (var i = 0; i < product.length/2; i++) { %>
                    <div class="row">
                        <div class="col-md">
                            <a href=<%= "/product/"+product[2*i].foldername %> ><img class="img-responsive img-article-bottom" src=<%= "/images/all-product/"+product[2*i].foldername+"/"+product[2*i].data[0].image %> ></a>
                            <a href=<%= "/product/"+product[2*i].foldername %> ><div style="text-align: center"><%= product[2*i].name %></a><br></div>
                        </div>
                        <div class="col-md">
                            <% if ((2*i)+1 < product.length) { %>
                            <a href=<%= "/product/"+product[2*i+1].foldername %> ><img class="img-responsive img-article-bottom" src=<%= "/images/all-product/"+product[2*i+1].foldername+"/"+product[2*i+1].data[0].image %> ></a>
                            <a href=<%= "/product/"+product[2*i+1].foldername %> ><div style="text-align: center"><%= product[2*i+1].name %></a><br></div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
    <%- include ../partials/footer.ejs %>
</body>
</html>
