<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/essential.css" />
    <%- include ../partials/includings.ejs %>
    <title><%= productcat.name %></title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%-
    include('../partials/cover.ejs',{link: '/images/product/cover.jpg'}) %>
    <div class="text-4xl md:text-5xl text-center m-14 md:m-20">ผลิตภัณฑ์ของ<br/>ไทยชลธารพลาส</div>
    <div class="container mx-auto px-4">
      <% var subfolder = productcat.image %> <% var list_name = list.list_name
      %>
      <div class="flex flex-col md:flex-row mt-3">
        <div class="flex-none text-center">
          <div class="flex-col mx-4 ">
            <div class="text-4xl font-bold mb-3">ประเภท</div>

            <% for (var i = 0; i < list_name.length; i++) { %>
              <div>
                <a class="text-base text-black hover:no-underline" href="/product/<%= list_name[i]["url"] %>">
                  <% if (productcat.name == list_name[i]["name"]) { %>
                  <div class="font-bold"><%= list_name[i]["name"] %></div>
                  <% } else {%> <%= list_name[i]["name"] %> <% } %>
                  </a>
              </div>
            <% } %>
          </div>
        </div>
        <div class="flex-grow m-4">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            <% for (var i = 0; i < subfolder.length; i++) { %>
            <div class="flex-none">
              <img class="rounded-3xl" src="/images/catalog/<%= productcat.url %>/<%= subfolder[i].image %>" alt="" />
              <div class="text-lg font-bold text-center mt-3"><%= subfolder[i].id %></div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include ../partials/footer.ejs %>
  </body>
</html>
